.App-header {
  color: gray;
  display: block;
  text-align: center;
  font-size: 45px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 20px 0;
  padding-left: 50px;
}
h2 {
  font-size: 20px;
}
span {
  color: #32bc9c;
}
footer {
  text-align: center;
  margin-top: 50px;
  color: #32bc9c;
  font-weight: 400;
}
