.App {
  background: white;
  border-radius: 6px;
  max-width: 800px;
  display: block;
  margin: 0 auto;
}
body {
  background-color: white;
}

.App-header {
  display: block;
  text-align: center;
  font-size: 45px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 20px 0;
  padding-left: 50px;
}

footer {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  color: #999494;
  font-weight: 400;
}
a {
  color: #8fba9a;
  text-decoration: none;
}
a:hover {
  color: #8fba9a;
  font-weight: bold;
}
