strong {
  font-weight: 500;
  color: var(--heading-color);
}
h1 {
  color: #f9eae3;
  font-size: 18px;
  font-weight: 300;
}
h2 {
  font-size: 30px;
  color: var(--softer-color);
  margin-top: 20px;
  font-family: var(--font-heading);
}

h3 {
  font-size: 20px;
  color: var(--heading-color);
}
h6 {
  margin-bottom: 50px;
  color: var(--softer-color);
}
section {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 10px 10px rgba(171, 142, 182, 10%);
  margin: 20px 0;
}
img {
  max-width: 800px;
  margin-left: 0px;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 0px;
}
input {
  width: 100%;
  padding: 4px 4px;
  border: 2px solid var(--softer-color);
  border-radius: 6px;
  color: #838080;
}
input:focus {
  outline: none;
}
.Dictionary {
  width: 800px;
  margin-left: -11px;
}
