strong {
  font-weight: 500;
  color: rgba(29, 119, 52, 0.5);
}
h1 {
  color: #838080;
  font-size: 18px;
  font-weight: 300;
}
h2 {
  font-size: 30px;
  color: #999494;
  margin-top: 20px;
}

h3 {
  font-size: 20px;
  color: gray;
}
h6 {
  margin-bottom: 50px;
  color: #999494;
}
section {
  background: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 10%);
  margin: 20px 0;
}
img {
  max-width: 600px;
  margin-left: -65px;
  margin-top: 0px;
  margin-bottom: 30px;
}
input {
  width: 100%;
  padding: 4px 4px;
  border: 2px solid #d3d3d3;
  border-radius: 6px;
  color: #838080;
}
